.float-right {
    float: right;
}

i {
    cursor: pointer;
}

.edit {
    border-radius: 15px;
}

.bg{
    background-color: #003664;
   

}
.bg-b{
    background-color: #309fff;
    color: white;
}

.text-b{
    font-weight: bold;
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
  
}

th {
    text-align: center;
}
td {
    text-align: center;
}

@media only screen and (max-width: 768px){
    .text-b{
        margin: 8px auto 0px auto;
        float: inherit;
        display: flex;
    }

    .search-b {
        height: 50px!important;
    }

}